<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="form-login">
    <div>
        <label for="userName">User Name</label>
        <input id="userName"
               type="text"
               ngModel
               name="userName"
               #userName="ngModel"
               required
               pattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
        <div *ngIf="userName.touched && !userName.valid" class="alert alert-danger">
            <div *ngIf="userName.errors.required">Name is required.</div>
            <div *ngIf="userName.errors.pattern">
                User Name has to be email.
            </div>
        </div>
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password"
               type="password"
                ngModel
                name="password"
                #password="ngModel"
                required
                minlength="3">
        <div *ngIf="password.touched && !password.valid" class="alert alert-danger">
            <div *ngIf="password.errors.required">Password is required.</div>
            <div *ngIf="password.errors.minlength">Password has to be minimun {{password.errors.minlength.requiredLength}} characters.</div>
        </div>
    </div>
    <div>
        <input id="agreement"
               type="checkbox"
               ngModel
               name="agreement"
               #agreement="ngModel"
               required/>
        <label for="agreement">I agree with Terms and Conditions</label>
        <div *ngIf="(agreement.value !== '' && !agreement.valid) || agreementNotSubmitted " class="alert alert-danger">
            You have to agree with Terms and Conditions to proceed.
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [ngClass]="{'disabled' : !loginForm.valid}" (click)="onBtnSubmit(loginForm)">Login</button>

</form>
